.homeContainer {
  min-height: 93vh;
  display: grid;
  grid-gap: 0.1vw;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sidenav content";
}

.sidenav {
  grid-area: sidenav;
}

.main-content-wrapper {
  grid-area: content;
}

.header {
  grid-area: header;
}
