.product-list {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-auto-flow: row;
  justify-content: center;
  grid-row-gap: 1px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  &.active-shopping-list {
    width: 80%;
  }
}

.productSection{
  &.active-shopping-list {
    display:grid;
    grid-template-columns: 85% 15% ;
  }
  
}

.shoppinglist {
  height: 100%;
  border-left: 1px solid gray;
  display: none;
  &.active {
    display: block 
  }
}